<div class="page-header">
  <%= link_to 'Create Company', new_company_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Suffix</th>
      <th>Catchphrase</th>
      <th>Email</th>
      <th>Start Date</th>
      <th>Industry</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td><b><%= link_to company.name, company_path(company) %></b></td>
      <td><%= company.suffix %></td>
      <td><%= company.catch_phrase %></td>
      <td><%= company.email %></td>
      <td><%= company.start_date %></td>
      <td><%= company.industry %></td>
      <td><%= link_to 'New Location', new_company_location_path(company), class: 'btn btn-primary' %></td>
      <td><%= link_to 'New Product', new_company_product_path(company), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Delete', company_path(company), method: :delete, data: {confirm: "Are you totally sure??"}, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
