<div class="page-header">
  <h1><%= @product.name %></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><b>Name: </b><%= @product.name %></li>
      <li class="list-group-item"><b>Department: </b><%= @product.department %></li>
      <li class="list-group-item"><b>Price:</b> $<%= @product.price %></li>
      <li class="list-group-item">
        <%= link_to 'Delete', company_product_path(@company, @product), method: :delete, data: {confirm: "Are you totally sure??"}, class: 'btn btn-danger' %>
        <%= link_to 'Edit', edit_company_product_path(@company, @product), class: 'btn btn-warning' %>
        <%= link_to 'Back', company_path(@company), class: 'btn btn-default' %>
      </li>
    </ul>
  </div>
</div>

<p>
  <h3>Reviews</h3>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @product.reviews.each do |review| %>
    <tr>
      <td><b><%= link_to review.title, company_product_review_path(@company, @product, review) %></b></td>
      <td><%= review.description %></td>
      <td><%= review.rating %></td>
      <td><%= link_to 'Delete', company_product_review_path(@company, @product, review), method: :delete, data: {confirm: "Are you totally sure??"}, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
